.content-container{
    flex-direction: column;
    justify-content: center;
    height: auto;
}
.about-container{
    height: auto;
}
.about-me-text{
    font-size: 1rem;
    margin-right: 25px;
}
.my-image{
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 1rem;

}
.welcome-text{
    font-size: 2rem;
    margin-left: 15px;
    margin-right: 15px;
}
.hand-wave{
    width: 30px;
}
.about-me-holder{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: auto;
    overflow: hidden;
}