.prasoon-title{
    font-size: 5rem;
}
.info{
    font-size: 1.2rem;
}
.about-me-text1, .about-me-text2,.about-me-text3,
.about-me-text4,.about-me-text5,.about-me-text6,
.about-me-text7,.about-me-text8{
    font-size: 1rem;
}
.about-me-holder{
    justify-content: center;
}
.cards-container{
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
    overflow: hidden;
    align-items: center;
}
.skills-container{
    height: auto;
}